<% 4.times do %>
    </br>
<% end %>
<div class="jumbotron center">
    <% if logged_in? %>
        <h1>Thanks for creating account!</h1>
    <% else %>
        <h1>Why don't you...</h1></br>
        <%= link_to "Sign up now!", signup_path, class: "btn btn-dark btn-xlg" %>
    <% end %>
</div>