@import "bootstrap-sprockets";
@import "bootstrap";

.center {
    text-align: center;
}

.jumbotron {
    background-image: asset-url('money.jpg');
    background-size: cover;
    height: 550px;
}

#bg {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: asset-url('bg.jpg');
}

.btn-xlg {
    font-size: 1.7em;
    background-color: black;
    color: grey;
}

