@import "bootstrap-sprockets";
@import "bootstrap";

.center {
    text-align: center;
}

.jumbotron {
    background-image: asset-url('background.png');
}

#bg {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: asset-url('bg.jpg');
}